/* style.css */

body { 
	/* font-family: "Arial", "Helvetica", sans-serif; */ 
/*	font-size: 18pt;*/
}

a {
	color: #5284ff;
}
a:visited {
	color: #6b51ff;
}

h1 { 
/*	font-size: 1.5em; */
	font-weight: bold;
}

h2 { 
/*	font-size: 1.25em; */
}
h3 { 
/*	font-size: 1.125em; */
}
h4 { 
/*	font-size: 1.0625em; */
}
h5 { 
/*	font-size: 1.0em; */
}
h6 { 
/*	font-size: 1.0em; */
	font-style: italic; 
}
.bg-house-img {
	background-image: url("img/house_darkened_1920.jpg");
	/* Image dimensiosn: 1920px x 1442px */
	/* Image source: Pixabay.com */

	min-height: 380px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}

#canvas {
	border: 0px solid #A0A0A0;
}

.dark-green {
	color: #04780A;
}

.audio-button {
	height: 4em;
}

.bg-sound-board-img {
	background-image: url("img/sound_board.jpg");
	/* Image dimensiosn: 640ps x 427px */
	/* Image source: Pixabay.com */
	
	min-height: 380px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	
}